
/**
 * Home
 */

*:focus {outline: none;}
.mg-r10{ margin-left:8px;}
.c-red{ color:#c42605;}
.no-bor-l{ border-left:none !important;}
.no-mg-r{ margin-right:0 !important;}
/* first_view*/
.first-screen-view{z-index: 3;}
.section{background: url("http://img.wfjimg.com/wfj_img/home/spring_bg.jpg") no-repeat top center;}
.first_view_main{width: 800px;margin-left: 200px;display: inline;}
.home_banner{width: 800px;height: 420px;font-size: 12px;}
.home_banner a:hover{text-decoration: none;}
.home_banner .hd{bottom: 10px;width: 100%;}
.home_banner .bd{height: 420px;width:800px;overflow: hidden;}
.home_banner #slides_tabs{margin: 0px auto;width:120px;}
.home_banner .hd .item{width:15px;text-align:center;height:15px;border: 1px solid #fff;background-color: #000;color: #fff;margin: 0px 3px;border-radius: 50%;cursor: pointer;font-size: 10px;line-height: 15px;}
.home_banner .hd .arrow{display: none;}
.home_banner .hd .on,.home_banner .hd .item:hover{background: #c42605;}
.home_banner .hd .last{\border-right-color: #070707;}
.home_banner img{width: 800px;height: 420px;}
#scroll_promo{margin-top: 10px;height: 170px;overflow:hidden;}
#scroll_promo .item{width: 390px;height: 168px;overflow: hidden;background: #def1f8;margin: 0 5px;display: inline;}
#scroll_promo .item img{width: 390px;height: 168px;}
.first_view_side{width: 195px;height: 600px;overflow: hidden;}
.first_view_side .service{height: 124px;margin-bottom: 10px; position:relative; z-index:11}
.first_view_side .service_list{margin-top: 3px;}
.first_view_side .service_list a{color: #000;}
.first_view_side .service_list .item{width: 61px;height: 59px; margin:0 2px 2px 0;position: relative;font-size: 12px;float: left;z-index: 4; border:1px solid #bfbfbf; background-color:#f2f2f2;}
.first_view_side .service_list .item3,.first_view_side .service_list .item6{margin-right:0;}
.first_view_side .service_list  .pic_service_off{position: absolute;left: 10px;top: 10px;}
.first_view_side .service_list  b{position: absolute;}
.first_view_side .service_list .title{font-size: 13px;margin-bottom: 6px;word-wrap: break-word; word-break:break-all;}
.first_view_side .service_list .item .msg_box{display: none; border:1px solid #ececec;}
.first_view_side .service_list .item .msg_box .msg_info{ width:161px; height:100px; line-height:20px;overflow:hidden;}
.first_view_side .service_list .item .msg_box .msg_link{margin-top:6px;}
.first_view_side .service_list .item1 .msg_box,.first_view_side .service_list .item4 .msg_box{left: -3px;}
.first_view_side .service_list .item2 .msg_box,.first_view_side .service_list .item5 .msg_box{left: -68px;}
.first_view_side .service_list .item3 .msg_box,.first_view_side .service_list .item6 .msg_box{left: -133px;}
.first_view_side .service_list .hover{background: #ececec;z-index: 5;border: 1px solid #ececec;}
.first_view_side .service_list .hover .msg_box,.first_view_side .service_list .item:hover .msg_box{
    display:block;position:absolute;top:59px;width:163px;height:134px;padding: 18px 15px;z-index:6;
    background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top,  #ececec 0%, #ffffff 31%, #ffffff 57%, #ececec 94%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(31%,#ffffff), color-stop(57%,#ffffff), color-stop(94%,#ececec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ececec 0%,#ffffff 31%,#ffffff 57%,#ececec 94%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ececec 0%,#ffffff 31%,#ffffff 57%,#ececec 94%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ececec 0%,#ffffff 31%,#ffffff 57%,#ececec 94%); /* IE10+ */
    background: linear-gradient(to bottom,  #ececec 0%,#ffffff 31%,#ffffff 57%,#ececec 94%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */

}
.first_view_side .weixin{font-size: 12px;color: #000;border-top:#000 1px solid;height: 105px;padding: 0 2px 0 5px; }
.first_view_side .weixin .hd{font-size: 13px;height: 32px;line-height: 32px;}
.first_view_side .weixin .bd{padding-left: 72px;line-height: 15px;height: 61px;overflow: visible;z-index: 2;}
.first_view_side .icon_25{left: 0;overflow: visible;z-index: 2; }
.first_view_side .hd_tit{font-size: 13px;color: #000;}
#scroll_product{
    font-size: 12px;background: #f8f8f8;height: 355px;position: relative;
    background: #fff; /* Old browsers */
	border:1px solid #E3E3E3;
	position:relative;
}
#scroll_product:hover{border:#c42605 1px solid;padding: 0; }
#scroll_product .hd_tit{height: 25px;line-height: 25px;text-indent: 5px; background-color:#C42605;}
#scroll_product .hd_tit,#scroll_product .pageState span,#scroll_product .pageState{color:#fff !important;}
#scroll_product .item{text-align: center;}
#scroll_product .pro_price .pric_o{ color:#C42605; font-size:14px; font-weight:bold;}
#scroll_product .pro_price .pric_n{text-decoration: line-through;color: #000; font-size:14px;}
#scroll_product a{color: #000;}
#scroll_product .pageState{right: 6px;top: 4px;}
#scroll_product .pageState span{font-weight: bold;}
#scroll_product .pro_pic{width:193px; height:250px;margin-bottom: 5px;overflow:hidden;}
#scroll_product .item_new .pro_pic{height:auto;}
#scroll_product .pro_pic .icon_discount{right:10px; top:10px; color:#fff; font-size:14px; line-height:48px; text-align:center; font-weight:bold;}
#scroll_product .pro_tit{width:193px;height:20px; line-height:20px; overflow:hidden;}
#scroll_product .item .buy{color:#fff; font-size:12px; width:78px; height:24px; line-height:24px; display:inline-block; margin-top:5px;}
#scroll_product a.prev,#scroll_product a.next{top: 162px;}
#scroll_product a.prev {left: 5px;}
#scroll_product a.next{right: 5px;}
#scroll_product a.prev:hover .icon-circle,#scroll_product a.next:hover .icon-circle{color: #c42605;}
#scroll_product .arrow{border-width: 6px;}
#scroll_product a.prev:hover .arrowL{border-right:#fff 6px solid;}
#scroll_product a.next:hover .arrowR{border-left:#fff 6px solid;}
#scroll_product .arrowL,#scroll_product .arrowR{top: 8px;*top:20px;}
#scroll_product .arrowL {left:4px;*left:5px; }
#scroll_product .arrowR{right:4px;*right:5px;}
#scroll_product .icon-circle{color: #fff;cursor: pointer;}

/*主页面*/
.choicely .hot-title{width: 256px;height: 36px;line-height: 36px;background: url("img/hot_bg.png") no-repeat;margin: 0px auto;font-size: 16px;}
.choicely .img-wrap,.centent .img-wrap{ float:left; position:relative; overflow:hidden;/*border: 1px solid #666;*/background: #999;}
.choicely .img-wrap:hover,.centent .img-wrap:hover{/*border: 1px solid #c22605;*/background: #c22605;}
.choicely .choicely-1{width:378px; height:450px!important;}
.choicely .choicely-2,.choicely .choicely-3{width:300px; height:208px!important;}
.choicely .choicely-4,.choicely .choicely-5{width:192px; height:98px!important;}
.choicely .choicely-6{width:610px; height:232px!important;}
.choicely .choicely-7{width:192px; height:232px!important;}
.choicely-1,.choicely-2{ margin-right:10px;}
.choicely-4,.choicely-5,.choicely-7{ margin-left:10px;}
.choicely-2,.choicely-3,.choicely-4,.choicely-5{ margin-bottom:10px;}
.choicely .img-wrap .ac-pic,.centent .img-wrap .ac-pic{ position:absolute; bottom:0; right:-20px;margin: 1px;}
.cimg-1{width:376px; height:448px!important;margin: 1px;}
.cimg-2,.cimg-3{width:298px; height:206px!important;margin: 1px;}
.cimg-4,.cimg-5{width:190px; height:96px!important;margin: 1px;}
.cimg-6{width:608px; height:230px!important;margin: 1px;}
.cimg-7{width:190px; height:230px!important;margin: 1px;}


/**楼层样式*/
.centent{display: block;padding-left: 199px;overflow: hidden;}
.centent .sub{float: left;left: -199px;position: relative;width: 199px;}
.centent .main{float: left;width: 100%;overflow: hidden;margin-left: -199px;height: 647px;}
.centent .sub .sub_bd{padding-right: 10px;}
.centent .sub .sub_hd{width: 199px;height: 50px;border-bottom: 2px solid #c22605;margin-top: -2px;}
.sub .sub_hd .t-num{width: 36px;height: 36px;line-height:36px;background-color: #c22605;text-align: center;font-size: 18px;font-weight: bold;color: #fff;margin-top: 7px;}
.sub .sub_hd .t-name{line-height: 50px;font-size: 16px;}
.sub .sub_hd .t-name .name{margin: 0px 5px 0 5px;font-size: 20px;}

.sub .sub_bd .pic-wrap{height: 300px;}
.sub .sub_bd .pic-wrap .bigpic{left: -40px;top:10px;width: 230px;height: 300px;overflow: hidden;}

.sub .sub_bd .link-list{border: 1px solid #999;height: 275px;overflow: hidden;}
.sub .sub_bd .link-list a{width: 50%;height: 24px;float: left;line-height: 24px;border-bottom: 1px dotted #333;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.sub .sub_bd .link-list .pindao_btn{background-color: #c22605;color: #fff;border: none;width: 100px;height: 30px;line-height: 30px;margin:10px 0 0 40px;font-size: 14px;text-align: center;}
.sub .sub_bd .link-list .pindao_btn:hover{color: #fff !important;}

.main .main_hd{height: 50px;background-color: #333333;}
.main .main_hd .floor-nav-list{}
.main .main_hd .floor-nav-list li{padding: 0px 50px 0 30px;border-right: 1px solid #999;color: #999;line-height: 50px;float: left;font-size: 16px;position: relative;cursor: pointer;width: 15%;text-align: center;}
.main .main_hd .floor-nav-list li .icon_17,.main .main_hd .floor-nav-list li .icon_18{top:15px;right: 20px;}
.main .main_hd .floor-nav-list li.on{color: #fff;}

/**热卖推荐*/
.main .main_bd .top{}
.main .main_bd .top .mc-left{width: 800px;height: 300px;overflow: hidden;float: left;}
.main .main_bd .top .mc-left a{float: left;}
.main .main_bd .top .mc-left .img0,.main .main_bd .top .mc-left .img0 img{width: 580px;height: 300px;overflow: hidden;margin-right: 10px;}
.main .main_bd .top .mc-left .img1,.main .main_bd .top .mc-left .img1 img{width: 200px;height: 300px;overflow: hidden;}
.main .main_bd .top .mc-right{float: left;width: 197px;height: 300px;overflow: hidden;}
.main .main_bd .top .mc-right a{display: block;height: 29px;line-height: 29px;border-bottom: 1px dotted #333;padding: 0px 15px;}
.main .main_bd .top .mc-right a .fl{height: 29px;line-height: 29px;width: 140px;overflow: hidden;white-space:nowrap; text-overflow:ellipsis;}
.main .main_bd .top .mc-right a.last{border: none;}
.main .main_bd .bottom{margin-left: -11px;height: 286px;overflow: hidden;}
.main .main_bd .bottom .unit{float: left;width: 192px;overflow: hidden;margin-left: 10px;height: 286px;}
.main .main_bd .bottom .unit .unit-img a,.main .main_bd .bottom .unit .unit-img a img{width: 192px;height: 192px;overflow: hidden;display: block;}
.main .main_bd .bottom .unit .unit-name a{padding: 0px 10px;height: 30px;line-height:30px;overflow: hidden;text-align: center;display: block;}
.main .main_bd .bottom .unit .hots{text-align: center;font-size: 14px;font-weight: bold;color: #c22605;height: 30px;overflow: hidden;}
.main .main_bd .add-price{height: 572px;}
/*品牌推荐*/

.main .main_bd .img-w1{width: 260px;height: 180px;overflow: hidden;}
.main .main_bd .img-w2{width: 312px;height: 270px;overflow: hidden;}
.main .main_bd .img-w3{width: 400px;height: 270px;overflow: hidden;}
.main .main_bd .img-w4{width: 260px;height: 393px;overflow: hidden;}
.main .main_bd .img-w5{width: 312px;height: 303px;overflow: hidden;}
.main .main_bd .img-w6{width: 194px;height: 303px;overflow: hidden;}
.main .main_bd .img-w7{width: 194px;height: 303px;overflow: hidden;}
.main .main_bd a.img-w1,.main .main_bd a.img-w3{margin: 10px 0;}
.main .main_bd a.img-w2{margin: 10px;}
.main .main_bd a.img-w4{margin-top: -90px;}
.main .main_bd a.img-w5{margin:0 10px;}
.main .main_bd a.img-w6{margin-right: 10px;}
.cimg-w1{width: 258px;height: 178px;margin:1px;}
.cimg-w2{width: 310px;height: 268px;margin:1px;}
.cimg-w3{width: 398px;height: 268px;margin:1px;}
.cimg-w4{width: 258px;height: 391px;margin:1px;}
.cimg-w5{width: 310px;height: 301px;margin:1px;}
.cimg-w6{width: 192px;height: 302px;margin:1px;}
.cimg-w7{width: 192px;height: 302px;margin:1px;}

/**单品推荐*/
.main .main_bd .add-price .unit .hots{height: 20px;}
.main .main_bd .add-price .unit{margin-top: 12px;}
/*新闻快报*/
.centent-news{border: 1px solid #999;margin-bottom: 20px;}
.centent-news .new-1{width: 170px;overflow: hidden;}
.centent-news .new-1,.centent-news .new-2,.centent-news .new-3{padding: 10px;float: left;}
.centent-news h2{color: #000;font-size: 14px;font-weight: bold;}
.centent-news .new-1 .news-list{height: 150px;overflow: hidden;}
.centent-news .new-1 .news-list li{font-size: 14px;height: 25px;line-height: 25px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.centent-news .new-2{/*border-left:1px solid #999;border-right:1px solid #999;*/height: 169px; }
.centent-news .new-2 .info_list{height: 142px;overflow: hidden;}
.centent-news .new-2 .info_list li{border-bottom: 1px solid #999;clear: both;padding: 10px;}
.centent-news .new-2 .info_list .list-box{width: 285px;}
.centent-news .new-2 .info_list .line_c{font-size: 0px;width: 1px;line-height: 0px;height:50px;background-color: #999;margin: 0px 10px;}
.centent-news .new-2 .info_list a{display: block;float: left;}
.centent-news .new-2 .info_list .pic-img{width: 50px;height: 50px;overflow: hidden;margin: 0px 10px 0 0;}
.centent-news .new-2 .info_list .pic-info{width: 225px;height: 50px;overflow: hidden;}
.centent-news .new-3{width: 357px;text-align: center;}
.new3Left,.new3Right{width: 50%;}
.centent-news .new-3 .ui_btn{width: 60px;height: 20px;display: block;padding: 2px;text-align: center;cursor: pointer;margin: 10px auto 0 auto;}
.centent-news .new-3 .ui_btn:hover{color: #fff !important;}
.centent-news .new-3 .w_img img{width: 100px;height: 100px;overflow: hidden;margin-top: 12px;}

.wap_sub_hd{height: 50px;overflow: hidden;border-right: 1px solid #fff;display: none;}
.wap_sub_hd .t-num{width: 36px;height: 36px;line-height:36px;background-color: #c22605;text-align: center;font-size: 18px;font-weight: bold;color: #fff;margin-top: 7px;}

.wap_sub_hd .t-name{line-height: 50px;font-size: 16px;}
.wap_sub_hd .t-name .name{margin: 0px 5px 0 5px;font-size: 20px;color: #fff;}

/*首页窄屏1000**/
.narrow .first_view_side,.narrow .choicely-4,.narrow .choicely-5,.narrow .choicely-7,.narrow .mc-right{display: none;}

.narrow .main .main_bd .img-w3{width: 202px;}
.narrow .main .main_bd a.img-w6{margin-right: 0px;margin-bottom: 10px;width: 202px;height: 146px;}
.narrow .main .main_bd a.img-w7{width: 202px;height: 145px;}
.narrow .centent-news .new-2 .info_list .list-box{width: 200px;}
.narrow .centent-news .new-2 .info_list .pic-info{width: 140px;}
.narrow .centent-news .new-3 .top{width: 345px;}

@media screen and (min-width : 1000px) and (max-width : 1199px){
    .first_view_side,.choicely-4,.choicely-5,.choicely-7,.mc-right{display: none;}
    .main .main_bd .img-w3{width: 202px;}
    .main .main_bd a.img-w6{margin-right: 0px;margin-bottom: 10px;width: 202px;height: 146px;}
    .main .main_bd a.img-w7{width: 202px;height: 145px;}
    .centent-news .new-2 .info_list .list-box{width: 200px;}
    .centent-news .new-2 .info_list .pic-info{width: 140px;}
    .centent-news .new-3 .top{width: 345px;}
}

@media screen and (min-width : 768px) and (max-width : 999px){
  .first_view_side,.choicely .choicely-4, .choicely .choicely-5,.choicely .choicely-7,.centent .sub,.main .main_bd .top .mc-right,.main .main_bd .img-w1,.main .main_bd .img-w4{display: none;}
    .first_view_main{margin-left: 0;width: 768px;}
    .home_banner,.home_banner .bd,.home_banner img,.main .main_bd .top .mc-left{width: 768px;}
    #scroll_promo .item,#scroll_promo .item img{width: 374px;}
    .choicely .choicely-1{width: 347px;}
    .cimg-1{width: 345px;}
    .choicely .choicely-2, .choicely .choicely-3{width: 200px;}
    .cimg-2, .cimg-3{width: 198px;}
    .choicely .choicely-6{width: 410px;}
    .cimg-6{width: 408px;}
    .main .main_bd .top .mc-left .img0, .main .main_bd .top .mc-left .img0 img{width: 558px;}
    .main .main_bd .bottom .unit,.main .main_bd .bottom .unit .unit-img a, .main .main_bd .bottom .unit .unit-img a img{width: 145px;}
    .main .main_bd .bottom .unit .hots{height: auto;}
    .centent{padding-left: 0px;}
    .centent .main{margin-left: 0px;}
    .wap_sub_hd{display: block;}
    .main .main_bd .img-w2,.main .main_bd .img-w5{width: 338px;}
    .cimg-w2,.cimg-w5{width: 336px;}
}
@media screen and (min-width : 640px) and (max-width : 767px){
   .first_view_side,.choicely .choicely-4, .choicely .choicely-5,.choicely .choicely-7,.centent .sub,.main .main_bd .top .mc-right,.main .main_bd .img-w1,.main .main_bd .img-w4{display: none;}

    .first_view_main{margin-left: 0;width: 640px;}
    .home_banner,.home_banner .bd,.home_banner img,.main .main_bd .top .mc-left{width: 640px;height: 300px;}
    #scroll_promo .item,#scroll_promo .item img{width: 310px;}
    .choicely .choicely-1{width: 220px;}
    .cimg-1{width: 218px;}
    .choicely .choicely-2, .choicely .choicely-3{width: 200px;}
    .cimg-2, .cimg-3{width: 198px;}
    .choicely .choicely-6{width: 410px;}
    .cimg-6{width: 408px;}
    .main .main_bd .top .mc-left .img0, .main .main_bd .top .mc-left .img0 img{width: 430px;}
    .main .main_bd .bottom .unit,.main .main_bd .bottom .unit .unit-img a, .main .main_bd .bottom .unit .unit-img a img{width: 152px;}
    .main .main_bd .bottom .unit .hots{height: auto;}
    .centent{padding-left: 0px;}
    .centent .main{margin-left: 0px;}
    .wap_sub_hd{display: block;}
    .main .main_bd .img-w2,.main .main_bd .img-w5{width: 220px;}
    .cimg-w2,.cimg-w5{width: 218px;}
}

@media screen and (min-width : 320px) and (max-width : 639px){
    #navigation,.first_view_side,.choicely .choicely-4, .choicely .choicely-5,.choicely .choicely-7,.centent .sub,.main .main_bd .top .mc-right,.main .main_bd .img-w1,.main .main_bd .img-w4,.main .main_bd a.img-w6,.main .main_bd .img-w7{display: none;}

    .first_view_main{margin-left: 0;width: 100%;}
    .home_banner,.home_banner .bd,.home_banner img,.main .main_bd .top .mc-left{width: 100%;height: 300px;}
    .main .main_bd .top .mc-left{height: 200px;}
    #scroll_promo .item{width: 50%;margin: 0;}
    #scroll_promo .item img{width: 100%;}
    .choicely .choicely-1,.choicely .choicely-2, .choicely .choicely-3,.choicely .choicely-6,.main .main_bd a.img-w2,.main .main_bd .img-w3,.main .main_bd a.img-w5{width: 100%;height: 200px !important;border-bottom: 1px solid #999;}
    .cimg-1,.cimg-2, .cimg-3,.cimg-6,.cimg-w2,.cimg-w3,.cimg-w5,.main .main_bd .img-w2,.main .main_bd .img-w5{width: 100%;margin: 0;height: 200px !important;}
    .main .main_hd .floor-nav-list li{padding: 2px;width: auto;line-height: 46px;}
    .main .main_hd .floor-nav-list li .icon_17, .main .main_hd .floor-nav-list li .icon_18,.main .main_bd .top .mc-left .img1, .main .main_bd .top .mc-left .img1 img{display: none;}

    .main .main_bd .top .mc-left .img0, .main .main_bd .top .mc-left .img0 img{width: 100%;height: 200px;}
    .main .main_bd .bottom .unit,.main .main_bd .bottom .unit .unit-img a, .main .main_bd .bottom .unit .unit-img a img{width: 152px;}
    .main .main_bd .bottom .unit .hots{height: auto;}
    .centent{padding-left: 0px;}
    .centent .main{margin-left: 0px;}
    .wap_sub_hd{display: block;}
    .main .main_bd a.img-w2,.main .main_bd a.img-w1, .main .main_bd a.img-w3,.main .main_bd a.img-w5{margin: 0px;}
    .centent .main{height: auto;}
}