/**
 *search  list
 */

/*收藏js用的图片*/
.flyer-img{position: relative;z-index: 999;}
.active{background-color: #cc0000;color: #fff;}
.td10{width: 10%;}
.td80{width: 80%;}
.br4{border: 4px solid #e3e3e3 !important;}
.col{color: #ccc !important;text-decoration: none!important;cursor: default!important;}
#j_carbd{cursor: pointer;}
.subitem{width: 530px;border: 1px solid #E3E3E3;padding:5px 40px 25px 20px;-moz-box-shadow:10px 10px 5px #ededed;-webkit-box-shadow:10px 10px 5px #ededed;box-shadow:2px 2px 5px #ededed;z-index: 5;left: 0;top:20px;background-color: #fff;display:none;}
.subitem dl{border-bottom: 1px dotted #ccc;padding:15px 0 5px 0;}
.subitem dl.borderno{border:none;}
.subitem dl dt{font-size: 14px;font-weight: bold;width:60px;float: left;text-align: right;padding-right: 13px;}
.subitem dd{overflow: hidden;}
.subitem dd span{display: inline-block;border-left: 1px solid #666;padding:0 10px;margin-bottom: 10px;*display: inline;*zoom: 1;}


.select{border: 1px solid #E3E3E3;color: #000;border-spacing:0; border-collapse:collapse;width: 100%;margin-top: -1px;}
.select td{border: 1px solid #E3E3E3;padding: 5px;}
.select tr{border: 1px solid #E3E3E3;}
.select .oneTd{width: 80px; text-align: right;background-color: #f8f8f8;vertical-align: top;padding-top: 15px;padding-right: 10px;}
.select .td_list{padding: 5px 0;}
.select td.more{border-left: none !important;}
.select td.more .vb{color: #cc0000;cursor: pointer;border: 1px solid #fff;width: 50px;text-align: center;}
.select td.more .vb .arrb{width:13px;height: 8px;background:url("img/public/arrar.jpg") no-repeat 0 0px;display: inline-block;background-size: 25px 15px;}
.select td.more .vb:hover{border: 1px solid #999;}
.select td.more .vb .arrt{width:13px;height: 8px;background:url("img/public/arrar.jpg") no-repeat -12px -8px;display: inline-block;background-size: 25px 15px;}
.mvb{visibility: hidden;display: block;}
.select td.listTd{border-right: none !important;}
.td_list_sel{height: 54px; overflow: hidden;}
.select .col li a,.list_cats a{color: #000;}
.select .td_list li{padding:0px 12px 0px 20px;display: inline-block;*zoom: 1;*display: inline;line-height: 27px;}
.mor_b{width:100%;border-top: 1px solid #c42605;height: 20px;}
.mor_t{width:100px; height: 20px;background-color:#c42605;background: -moz-linear-gradient(top,#c42605,#951c02);background:-webkit-linear-gradient(top,#c42605,#951c02);background: linear-gradient(top,#c42605,#951c02);color: #fff;text-align: center;line-height: 20px;float: right;border-radius:0 0 20px 20px;-webkit-border-radius:0 0 20px 20px;-moz-border-radius:0 0 20px 20px;cursor: pointer;}
.arroB{width: 0;height: 0;line-height: 0;font-size:0;border: 5px dashed transparent;display: inline-block;*display: inline;*zoom: 1;}
.mor_t .arroB{border-top: 5px solid #fff;vertical-align: -3px;margin-right: 5px;}
.mor_t .arroT{border-top:5px solid transparent;border-bottom: 5px solid #fff;vertical-align: 3px;}

.filterForm{
    background-color: #E3E3E3;
    color: #6d6d6d;
    height: 40px;
    margin:10px auto 20px;
}
.filterForm .filtdlt{
    margin-left:38px;
    line-height:40px;
    font-weight: bold;
    color:#000000;
    float:left;
}
.filterForm ul{
    float:left;
    margin-left:7px;
}
.filterForm ul li{
    padding:0px 10px;
    float:left;
    margin: 9px 0px;
    height:22px;
    line-height: 22px;
    background-color:#FFFFFF;
    cursor: pointer;
}
.filterForm ul li.filtetselect{
    background-color:#c42605;
    color:#FFFFFF;
}
.filterForm ul li.filtetselect a{color: #fff;}
.filterForm ul li.up{
    background-image:url('http://img.wfjimg.com/wfj_ec2/css/img/list/filterarrows_up.png');
    background-repeat: no-repeat;
    background-position : 80% 50%;
    padding-right: 30px;
}
.filterForm ul li.down{
    background-image:url('http://img.wfjimg.com/wfj_ec2/css/img/list/filterarrows_down.png');
    background-repeat: no-repeat;
    background-position : 80% 50%;
    padding-right: 30px;
}
.filterForm ul li.up_white{
    background-image:url('http://img.wfjimg.com/wfj_ec2/css/img/list/filterarrows_up_white.png');
    background-repeat: no-repeat;
    background-position : 80% 50%;
    padding-right: 30px;
}
.filterForm ul li.down_white{
    background-image:url('http://img.wfjimg.com/wfj_ec2/css/img/list/filterarrows_down_white.png');
    background-repeat: no-repeat;
    background-position : 80% 50%;
    padding-right: 30px;
}
.filterForm .paging{
    float:right;
    margin-right:10px;
}
.filterForm .paging label{
    padding:0px 10px;
    float:left;
    margin: 9px 0px;
    height:22px;
    line-height: 22px;

}
.filterForm .paging label.page{
    background-color:#FFFFFF;
    margin: 8px 5px;
    position:relative;
    border: 1px solid #e3e3e3;
}
.p_left{padding: 0 10px 0 5px !important;}
.p_right{padding: 0 5px 0 10px !important;}
.filterForm .paging label.page a{color: #000;text-decoration: none;}
.filterForm .paging label.page:hover{border: 1px solid #000;}
.filterForm .paging label.col:hover{border: 1px solid #e3e3e3;}

.listing{width: 100%;}
.itemList>li{width: 220px;float: left;padding: 10px;position: relative;margin-bottom: 50px;}
.itemList>li dl{position: relative;z-index: 1;}
.itemList li dl .p-img,.itemList li dl .p-img img{width: 220px;height: 220px;overflow: hidden;}
.itemList li .showinfo .smalldiv .bd a img {width: 60px; height: 60px}
.itemList li dl .p-promotion{width: 220px;height: 20px;line-height: 20px;text-align: center;color: #fff;background-color: #c42605;}
.itemList li dl .p-name{height: 32px;overflow: hidden;margin: 10px 0;}
.itemList li dl .p-price{height: 22px;line-height: 22px;color: #c42605;font-size: 14px;font-weight: bold;overflow: hidden;}
.itemList li .showinfo{width: 310px;border: 1px solid #999;left: 0;top:0;height: 364px;border-right: none;display: none;}
.itemList li .showinfo .smalldiv{width: 80px;background-color: #fff;height: 364px;position: absolute;right: 0px;top:0;border-right: 1px solid #999;z-index: 2;}
.showinfo .smalldiv .bd ul li{margin: 0px 10px 4px 10px;}
.itemList li .showinfo .smalldiv .bd a{display: block;width: 60px;height: 60px;overflow: hidden;border: 1px solid #999;}
.itemList li .showinfo .smalldiv .bd a:hover{border: 1px solid #c42605;}
.itemList li .showinfo .smalldiv .colorBox{padding: 18px 0;}
.colorBox .prev{width: 18px;height: 13px;background: url("img/public/arrar.jpg") no-repeat -18px 1px;top:4px;left: 31px;}
.colorBox .next{width: 18px;height: 13px;background: url("img/public/arrar.jpg") no-repeat 0px -11px;left: 31px;bottom: 4px;}
.colorBox .prev:hover{background-position:-18px -11px; }
.colorBox .next:hover{background-position:0px 1px; }
.scanmore{display: block;width: 280px;height: 20px;line-height: 20px;text-align: center;color: #000;border-radius: 10px;border: 1px solid #000;bottom: 10px;left: 10px;z-index: 3;}
.itemList li .s-info-right{left: -70px;border-right: 1px solid #999;border-left: none;}
.itemList li .s-info-right .smalldiv{left: 0px;border-left: 1px solid #999;border-right: none;}
.itemList li .showinfo .list_likes{padding-left:20px; left: 160px;top:10px;z-index: 1;cursor: pointer;width: 60px;}
.itemList li .s-info-right .list_likes{left: 230px;}
.pagin-box{
    height:30px;
    line-height:28px;
    margin:20px auto;
    text-align:center;
}
.pagin-box ul li.pronum{
    font-size: 14px;
    border: none;
    display:inline-block;
    *zoom: 1;
    *display: inline;
}
.pagin-box ul li.item{
    width:28px;
    height:28px;
    line-height: 28px;
    margin-left:5px;
    border:1px solid #E3E3E3;
    display:inline-block;
    cursor: pointer;
    *zoom: 1;
    *display: inline;
}
.pagin-box ul li.item:hover{
    border:1px solid #666666;
}
.pagin-box ul li.col:hover{
    border:1px solid  #e3e3e3;
}
.pagin-box ul li.dot:hover{
    border:none;
}
.pagin-box ul li.prev,.pagin-box ul li.next{width:67px;_vertical-align: -3px;}
.pagin-box ul li.prev{padding-right: 10px;}
.pagin-box ul li.next{padding-left: 10px;}
.pagin-box ul li.dot{
    border:none;
    cursor: default;
}

.history{padding: 20px;margin-bottom: 20px;border: 1px solid #E3E3E3;}
.history .hd{margin-bottom: 10px;}
.history .hd_tit{font-size: 16px;color: #000;}
.history .p_list{height: 70px;overflow:hidden;}
.history .p_list .item{border: 1px solid #999;margin: 0px 2px;}
.history .like_list{padding-left: 2px;height: 270px;overflow: hidden;}
.history .like_list li{width: 220px;margin:4px;float: left;border: 1px solid #eee;}
.history .like_list li:hover{border: 1px solid #c42605;}
.history .like_list li .imgs{width: 220px;height: 220px;}
.history .like_list li .item_txt{padding: 0px 10px;}
.history .like_list li .item_txt .name{height: 20px;line-height: 20px;overflow: hidden;display:block;}
.history .like_list li .item_price{height: 20px;line-height: 20px;}
.history .like_list li .item_price strong{color: #c42605;font-weight: bold;}
.history .bottomSlide .prev,.history .bottomSlide .next{top:150px;}
.history .bottomSlide .prev{left: -10px;}
.history .bottomSlide .next{right: -10px;}

#no_results{width: 500px;margin: 0 auto;padding: 60px 0 100px;min-height: 260px;}
#no_results .result_msg{font-size: 18px;padding-left: 30px;}
#no_results .msg1 {background: url("http://img.wfjimg.com/wfj_ec2/css/img/list/msg1.png") no-repeat;display: inline-block;*zoom:1;height: 20px;  vertical-align: -5px; *vertical-align: middle;  width: 20px; margin-right: 5px;}
#no_results .result_text{margin: 40px 0;font-size: 14px;}
#related_words{margin-top: 19px;font-size: 13px;}
.rel_word{color: #000;}
#no_results .search_from{height: 28px;border: #c22605 1px solid;}
#no_results .search_from .icon_5{display:block; position:absolute; left:4px; top:8px;}
#no_results .ele_text{border: none;height: 21px;width: 100%;color: #1a181d;line-height: 21px;padding: 4px 0 4px 10px;*padding:3px 0 3px 22px; overflow: hidden;}
#no_results .search_inputBox{width: 450px;}
#no_results .search_button{height: 30px;width: 70px;}
#no_results .btn_search{height: 30px;width: 80px;color: #fff;top:-1px;right: 0;zoom: 1;float: right; font-family:'\5FAE\8F6F\96C5\9ED1';border-radius: 0px 4px 4px 0;padding-left: 12px;}
#no_results .btn_search .icon_7{display:block; position:absolute; left:14px; top:9px;}

.addshow{left: 0px;top:0;width: 53px;height: 29px;background-color: #04C142;line-height: 29px;display: none;overflow: hidden;color: #fff;}



.condition {
    float: left;
    margin-top: -4px;
    margin-left: 10px;
}

.condition .cons a {
    background-color: #666666;
    float: left;
    margin-right: 10px;
    color: #FFFFFF;
    height: 23px;
    line-height: 23px;
    text-align: center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 0px 30px 0px 10px;
    display: block;
    position: relative;
    text-decoration: none;
}

.condition .cons a:hover {
    background-color: #c42605;
}

.condition .cons .closeCons {
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 999;
    right: 7px;
    top: 5px;
    cursor: pointer;
    background: url("http://img.wfjimg.com/wfj_ec2/css/img/list/closecons.png") no-repeat;
}

@media screen and (min-width : 1000px) and (max-width : 1199px){
    .itemList > li{padding: 10px 15px;}
    .itemList li .s-info-right{left: -66px;}
}

@media screen and (min-width : 768px) and (max-width : 999px){
    .itemList > li{padding: 10px 18px;}
    .itemList li .s-info-right{left: -55px;}
}



@media screen and (min-width : 640px) and (max-width : 767px){
    .itemList > li{padding: 10px 48px;}
    .itemList li .s-info-right{left: -33px;}
    .history,.filterForm .paging{display: none;}
}