<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wfj.search.online.index.mapper.SearchConfigMapper">
    <select id="get" resultType="string">
        SELECT value
        FROM online_search_config
        WHERE channel = #{channel} AND name = #{name}
    </select>
</mapper>