<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="clusterClient" class="com.wfj.platform.cache.lettuce.util.RedisClusterClientFactory" destroy-method="shutdown">
        <constructor-arg name="redisURIs">
            <list>
                <bean class="com.lambdaworks.redis.RedisURI" p:host="10.6.2.110" p:port="8011" p:password="redis8011"/>
                <bean class="com.lambdaworks.redis.RedisURI" p:host="10.6.2.110" p:port="8012" p:password="redis8011"/>
                <bean class="com.lambdaworks.redis.RedisURI" p:host="10.6.2.110" p:port="8013" p:password="redis8011"/>
                <bean class="com.lambdaworks.redis.RedisURI" p:host="10.6.2.200" p:port="8014" p:password="redis8011"/>
                <bean class="com.lambdaworks.redis.RedisURI" p:host="10.6.2.200" p:port="8015" p:password="redis8011"/>
                <bean class="com.lambdaworks.redis.RedisURI" p:host="10.6.2.200" p:port="8016" p:password="redis8011"/>
            </list>
        </constructor-arg>
    </bean>
</beans>