<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="esClient" class="com.wfj.search.utils.es.EsClientFactory">
        <property name="addresses">
            <list>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg type="java.lang.String" value="10.6.3.24"/>
                    <constructor-arg type="int" value="9300"/>
                </bean>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg type="java.lang.String" value="10.6.3.25"/>
                    <constructor-arg type="int" value="9300"/>
                </bean>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg type="java.lang.String" value="10.6.3.26"/>
                    <constructor-arg type="int" value="9300"/>
                </bean>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg type="java.lang.String" value="10.6.3.27"/>
                    <constructor-arg type="int" value="9300"/>
                </bean>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg type="java.lang.String" value="10.6.3.28"/>
                    <constructor-arg type="int" value="9300"/>
                </bean>
            </list>
        </property>
        <property name="clusterName" value="wfj-es"/>
    </bean>
</beans>