<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="placeholderConfig"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:zookeeper.properties</value>
                <value>classpath:caller.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="UTF-8"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>
    <bean id="zkClientFactory" class="com.wfj.search.utils.zookeeper.CuratorClientFactory">
        <constructor-arg name="connectString" value="${monitor.zkAddresses}"/>
    </bean>
    <bean id="zkClient" factory-bean="zkClientFactory"
          factory-method="createClient" destroy-method="close"/>
    <bean id="serviceProvider" class="com.wfj.search.utils.zookeeper.discovery.SpringWebMvcServiceProvider">
        <constructor-arg name="zkClient" ref="zkClient"/>
        <constructor-arg name="basePath" value="${discovery.basePath}"/>
    </bean>

    <context:component-scan base-package="com.wfj.search.online.management.console.controller.caller"/>
</beans>