<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wfj.search.online.management.console.mapper.popularize.BrandTopSpotLogMapper">
    <resultMap id="log" type="com.wfj.search.online.common.pojo.popularize.BrandPopularizePositionLogPojo">
        <id property="sid" column="sid"/>
        <result property="brandId" column="brand_id"/>
        <result property="spuId" column="spu_id"/>
        <result property="orders" column="orders"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="modifier" column="modifier"/>
        <result property="modifyType" column="modify_type"/>
    </resultMap>
    <insert id="addLog" useGeneratedKeys="true" keyProperty="sid">
        INSERT INTO online_top_spot_brand_log (brand_id, spu_id, orders, modify_time, modifier, modify_type)
        VALUES (#{brandId}, #{spuId}, #{orders}, now(), #{modifier}, #{modifyType})
    </insert>
    <select id="listLog" resultMap="log">
        SELECT *
        FROM online_top_spot_brand_log
    </select>
</mapper>